

.input{
    padding: 0.75rem 0;
    border: none;
    padding-left: 0.625rem;
    background: var(--input-back);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.pack-form{
    border-radius: 0.625rem;
    box-shadow: 6px 6px 36px #e3e3e3,
    -6px -6px 36px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25.25rem;
}

.boton-registro{
    background: #0000FF;
    color: #FFFFFF;
}
/* Estilos formulario */


.formulario{
    position:static;
    z-index: 2;
    background-color: #FFFFFF;
    
}

.circulos{
    position: relative;
    height: 100%;
}

.circulo1{
    background-color: #0000FF;   
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 400px;
}
.circulo2{
    background-color: #186cd2;   
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: relative;
    top: 100px;
}
.circulo3{
    background-color: #9ad218;  
    border-radius: 50%; 
    width: 130px;
    height: 130px;
    position: relative;
    top: -130px;
    left: 220px;
    z-index: 1;
}
.circulo4{
    background-color: #d218d2;  
    border-radius: 50%; 
    width: 220px;
    height: 220px;
    position: relative;
    top: -180px;
    left: 110px;
}
.circulo5{
    background-color: #1891d2;   
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: relative;
    top: -320px;
    left: 220px;
}