<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Condominios Horizontales</title>

    <!-- icono -->
    <link rel="shortcut icon" href="../../assets/icons/ico.ico">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="../dashboard/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../dashboard/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../dashboard/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../dashboard/css/lib/helper.css" rel="stylesheet">
    <link href="../dashboard/css/style.css" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- animatecss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./assets/css/signup.css">
</head>

<body>

    <div class="unix-login position-relative">
        <div id="return-home" role="button"
            class="  p-2 d-flex justify-content-center align-items-center mt-2 rounded-5 position-absolute return-arrow">
            <a href="../../index.html" class="d-flex justify-content-center"><img class="w-75 h-75"
                    src="../client-site/assets/img/devolver.png" alt=""></a>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-logo">
                        <a href="../../index.html"><span></span></a>
                    </div>
                    <div id="form-container"
                        class="bg-none h-auto w-75  rounded-3 d-flex justify-content-center position-relative flex-column">
                        <div role="button" id="return"
                            class="  p-2 d-flex justify-content-center align-items-center mt-2 rounded-5 position-absolute return-arrow">

                            <img class="w-75 h-75" src="../client-site/assets/img/devolver.png" alt="">
                        </div>
                        <h4 class=" p-2 fs-1 text-center mt-4 py-3" style="color: #ffff;">Registro</h4>
                        <div class="px-0 d-flex row mt-4 align-items-center w-100 mx-auto justify-content-center p-0"
                            id="progress-bar">
                            <div class="p-4 bg-dark  d-flex align-items-center justify-content-center rounded-5 col-2 text-white ball"
                                id="ball-one">
                                <div id="check-one"
                                style="background-color: #0077cc;"
                                    class="w-100 h-100 p-2 d-none align-items-center  position-absolute top-0 left-0 rounded-5">
                                    <img class="w-100 h-100 d-flex m-auto "
                                        src="../client-site/assets/img/chulo.png" alt="">
                                </div>
                                <img id="first-lock" class="d-flex" src="./assets/img/vector.svg" alt="">
                                <img  class="d-none" src="./assets/img/lock-err.svg" alt="">
                            </div>
                            <div class="progress col-3 p-0  bg-dark" style="height: 5px;" role="progressbar"
                                aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div id="progress-one" class="progress-bar" style="width: 0%; background-color: #0077cc;"></div>
                            </div>
                            <div class="p-4 bg-dark col-2 rounded-5 text-white ball d-flex align-items-center justify-content-center"
                                id="ball-two">
                                <div id="check-two"
                                style="background-color: #0077cc;"
                                    class="w-100 h-100 p-2 d-none align-items-center  position-absolute top-0 left-0  rounded-5">
                                    <img class="w-100 h-100 d-flex m-auto "
                                        src="../client-site/assets/img/chulo.png" alt="">
                                </div>
                                <img id="second-lock" class="d-flex" src="./assets/img/vector.svg" alt="">
                                <img  class="d-none" src="./assets/img/lock-err.svg" alt="">
                            </div>
                            <div class="progress p-0 col-3 bg-dark" style="height: 5px;" role="progressbar"
                                aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <div id="progress-two" class="progress-bar  p-0 m-0" style="width: 0%; background-color: #0077cc;"></div>
                            </div>
                            <div class="p-4 bg-dark col-2 rounded-5 text-white ball d-flex align-items-center justify-content-center"
                                id="ball-three">
                                <div id="check-three"
                                style="background-color: #0077cc;"
                                    class="w-100 h-100 p-2 d-none align-items-center  position-absolute top-0 left-0  rounded-5">
                                    <img class="w-100 h-100 d-flex m-auto "
                                        src="../client-site/assets/img/chulo.png" alt="">
                                </div>
                                <img id="third-lock" class="d-flex" src="./assets/img/vector.svg" alt="">
                                <img id="lock-err" class="d-none" src="./assets/img/lock-err.svg" alt="">
                            </div>
                        </div>
                        <form class=" my-2 overflow-hidden" action="../../Controllers/registrarUserEx.php"
                            method="post">
                            <section id="art-content" style="width: 95%;" class="d-flex mx-auto">
                                <article id="first-art" class="row d-flex animate__animated  mx-auto mt-5 p-2">
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Nombres</label>
                                        <input class="d-block form-control" placeholder="EJ:Andres Camilo"
                                            name="nombres" type="text">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Apellidos</label>
                                        <input class="d-block form-control" placeholder="EJ:Perez Alvarez"
                                            name="apellidos" type="text">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Email</label>
                                        <input class="d-block form-control" placeholder="EJ:andres@gmail.com"
                                            name="email" type="email">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Telefono</label>
                                        <input class="d-block form-control" placeholder="EJ:3212****" name="telefono"
                                            type="text">
                                    </div>
                                </article>
                                <article id="second-art" class=" row d-none animate__animated   mx-auto mt-5 p-2">
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Identificacion</label>
                                        <input class="d-block form-control" placeholder="EJ:10023****"
                                            name="identificacion" type="text">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5" style="color: #ffff !important;">Tipo de
                                            identificacion</label>
                                        <input class="d-block form-control" list="doc-type" placeholder="EJ:CC"
                                            name="tipo_doc" type="text">
                                        <datalist id="doc-type">
                                            <option value="CC"></option>
                                            <option value="PASAPORTE"></option>
                                            <option value="CE"></option>
                                        </datalist>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Torre</label>
                                        <input class="d-block form-control" placeholder="EJ:4" name="torre" type="text">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Apartamento</label>
                                        <input class="d-block form-control" placeholder="EJ:v-12" name="apartamento"
                                            type="text">
                                    </div>
                                </article>
                                <article id="third-art" class=" row d-none animate__animated   mx-auto mt-5 p-2">
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5"
                                            style="color: #ffff !important;">Clave</label>
                                        <input class="d-block form-control" placeholder="EJ:****" name="clave"
                                            type="password">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="" class="text-black fs-5" style="color: #ffff !important;">Validar
                                            clave</label>
                                        <input class="d-block form-control" placeholder="EJ:****" name="clave2"
                                            type="password">
                                    </div>
                                </article>
                            </section>

                            <button id="submit-btn" type="submit"
                                class="btn btn-dark mb-5 my-4 mx-auto d-none">Registrase</button>
                        </form>
                        <button id="next-btn" class="btn btn-dark my-4 mb-5 d-flex mx-auto">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="./assets/js/register-view.js"></script>
    
</body>


</html>